.calculadora {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
